<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
    <script>
    /*
    Use Cases
    ==========
    1. List all the bugs -> done
    2. Add a new bug -> done
    3. Toggle the closed status of a bug -> done
    4. Remove closed bugs -> done
    5. Display statistics -> done
    6. Search for bugs -> done
    7. Sort the bugs ->
    8. Improve the bug title display
    9. Display bug created time
    10. Save the bugs in the server
    */
    
    </script>
    <style>
        .stats{
            font-size: 12pt;
            font-weight: bold;
        }
        .closed {
            color : red;
            text-decoration: line-through;
            font-style: italic;
            font-weight: bold;
        }
        div {
            margin-bottom: 5px;
        }
    </style>
    <script src="angular.js"></script>
    <script>
        var bugTrackerApp = angular.module("bugTrackerApp", []);

        bugTrackerApp.controller("bugsController", function($scope){
            $scope.bugs = [
                {name : "Index out of bounds", isClosed : false},
                {name : "Object reference not found", isClosed : true},
                {name : "Server communication failure", isClosed : false},
                {name : "User authentication failure", isClosed : false},
            ];

            $scope.addBug = function(bugName){
                var newBug = {
                    name : bugName,
                    isClosed : false
                };
                $scope.bugs.push(newBug);
            };

            $scope.toggle = function(bug){
                bug.isClosed = !bug.isClosed;
            };

            $scope.removeClosed = function(){
                for(var i=$scope.bugs.length-1; i>=0; i--)
                    if ($scope.bugs[i].isClosed)
                        $scope.bugs.splice(i,1);
            };

            $scope.getClosedCount = function(){
                return $scope.bugs.filter(function(bug){
                    return bug.isClosed;
                }).length;
            };

            $scope.searchBug = {
                name : undefined,
                isOpen : undefined
            };


            $scope.filterBug = function(actual, expected){
                if (typeof $scope.searchBug.isOpen === "undefined") return true;
                return actual.isClosed === !$scope.searchBug.isOpen;
            };
        });

        bugTrackerApp.filter("trimText", function(){
            return function(data, lengthLimit){
                return data.length < lengthLimit ? data : data.substr(0,lengthLimit) + "...";
            }
        });


    </script>
</head>
<body ng-app="bugTrackerApp">
    <h1>Bug Tracker</h1>
    <hr>
    <div class="content" ng-controller="bugsController">
        <div class="stats">
            <span class="closed">{{getClosedCount()}}</span>
            /
            <span>{{bugs.length}}</span>
        </div>
        <div class="search">
            <label for="">Search :</label>
            <input type="text" ng-model="searchBug.name" >
            <label for="">Open ?</label>
            <!--<input type="checkbox" ng-model="searchBug.isClosed">-->
            <input type="checkbox" ng-model="searchBug.isOpen">
            <a href="#" ng-click="searchBug.isOpen = undefined">Show All</a>
        </div>
        
        <div class="list">
            <label for="">Bug :</label>
            <input type="text" ng-model="newBugName">
            <input type="button" value="Add Bug" ng-click="addBug(newBugName)">
            <input type="button" value="Remove Closed" ng-click="removeClosed()">
            <ol>
                <li
                    ng-repeat="bug in bugs | filter:filterBug"
                    ng-class="{closed : bug.isClosed}"
                    ng-click="toggle(bug)"
                >{{bug.name | trimText:25}}</li>
            </ol>
        </div>
    </div>
</body>
</html>
